// Define variables for your color scheme

// For example:

// Brand colors
$brand-900: #C147E9;
$brand-700: #DB8BF6;
$brand-500: #E4A8F8;
$brand-300: #EDC5FA;
$brand-100: #F6E2FD;
$brand-100: #FDF8FE;


// Dark colors
$dark-900: #2C242F;
$dark-700: #423A44;
$dark-500: #565058;
$dark-300: #807B82;
$dark-100: #C0BDC1;
$dark-000: #F4FAF5;

// App colors
$app-dark: #23042E;
$app-light: #6D2785;

$bg-linear-gradient: linear-gradient(180deg, rgba($app-dark, 1), rgba($app-light, 1));

// Trigger colors
$red: #FF5C52;
$yellow: #FFC42C;
$blue: #74E1E1;
