// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');



// Fonts light
$h1-light: 'Nunito Sans', sans-serif, 2rem, #F4FAF5, font-weight 700, line-height 120%;
$h2-light: 'Nunito Sans', sans-serif, 1,25rem, #C0BDC1, font-weight 400, line-height 120%;
$h3-light: 'Nunito Sans', sans-serif, 1rem, #F4FAF5, font-weight 600, line-height 120%;
$body-light: 'Nunito Sans', sans-serif, 1rem, #C0BDC1, font-weight 400, line-height 120%;
$body-light-strong: 'Nunito Sans', sans-serif, 1rem, #F4FAF5, font-weight 600, line-height 120%;
$baseline-light: 'Nunito Sans', sans-serif, 0,75rem, #C0BDC1, font-weight 400, line-height 120%;
$infos-light: 'Nunito Sans', sans-serif, 0,5rem, #F4FAF5, font-weight 600, line-height 120%;

// Button light
$btx-text-light: 'Nunito Sans', sans-serif;

// Fonts dark
$h1-dark: 'Nunito Sans', sans-serif, 2rem, #2C242F, font-weight 700, line-height 120%;
$h2-dark: 'Nunito Sans', sans-serif, 1,25rem, #423A44, font-weight 400, line-height 120%;
$h3-dark: 'Nunito Sans', sans-serif, 1rem, #2C242F, font-weight 600, line-height 120%;
$body-dark: 'Nunito Sans', sans-serif, 1rem, #423A44, font-weight 400, line-height 120%;
$body-dark-strong: 'Nunito Sans', sans-serif, 1rem, #2C242F, font-weight 600, line-height 120%;
$baseline-dark: 'Nunito Sans', sans-serif, 0,75rem, #423A44, font-weight 400, line-height 120%;
$infos-dark: 'Nunito Sans', sans-serif, 0,5rem, #2C242F, font-weight 600, line-height 120%;

// Button dark
$btx-text-dark: 'Nunito Sans', sans-serif, 1,25rem, #2C242F, font-weight 500, line-height 120%;




// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
