.strong {
  font-size: 1rem;
  font-weight: 600;
  color: $dark-000;
  line-height: 110%;
}

.baseline-light {
    font-size: 0.75rem;
    font-weight: 400;
    color: $dark-100;
    line-height: 110%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: $dark-000;
  line-height: 110%;
}

h2 {
  font-size: 1.25rem;
  color:$dark-000;
  font-weight: 600;
  line-height: 110%;
}

h3 {
  font-size: 1rem;
  color: $dark-000;
  font-weight: 600;
  line-height: 110%;
  margin: auto 0 auto 0;
}

h4 {
  font-size: 0.5rem;
  color: $dark-000;
  font-weight: 600;
  line-height: 110%;
}

p {
  font-size: 1rem;
  color:$dark-000;
  font-weight: 400;
  line-height: 110%;
  margin: auto 0 auto 0;

}

p .strong {
  font-size: 1rem;
  color:$dark-000;
  font-weight: 400;
  line-height: 110%;
}

.btn-text-light {
  font-size: 1.25rem;
  color:$dark-100;
  font-weight: 500;
  line-height: 110%;
}
