// Specific CSS for your home-page
// body {

// background: $bg-linear-gradient;
// min-height: 100vh;

// }

.content{

margin-top: 171px;


}


h2{

margin-top: 138px;
font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
line-height: 120%;
font-size: 25px;
color: #c0bdc1;

}
