// Specific CSS for your home-page

#cover_home {
  padding-top: 120px;
  width: 100%;
  transform: scale(1.2);
}

.container-title {

  h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 70px;
    font-size: 2rem;
    line-height: 110%;
    font-weight: 500;
 }

}
