<div>
  <p>- <%= answer.users_game.user.nickname%>
  <%= answer.time %>
  <%= answer.result_status %></p>

  <div data-answers-index-subscription-target="links">
    <%#= render "answer_links", song: song, answer: answer %>
  </div>

</div>
