 <div class="container-new-song">

  <%= image_tag "https://i.ibb.co/6wKKzwH/LOGO.png", alt: "logo" %>


  <h2 class="pt-5 text-center">Can you guess the song?</h2>

  <%= render "buzzer", song: @song %>
  <p class="info_card">🤫 Don’t say anything! Wait to see if you are the first to answer...</p>


</div>
