 <div class="container-new-song">


  <h2>Can you guess the song ?</h2>

  <%= render "buzzer", answer: @answer, song: @song %>
  <p id="text-buzzer">🤫 Don’t say anything! Wait to see if you are the first to answer...</p>


</div>
