<div class="m-3">
  <%# Les cards: %>
  <div class="info_card">
    <p>Please wait for the game master to start the game! You will be soon redirected.</p>
  </div>
  <br>
   <div class="my_card">
    <h2>MichelleSardou</h2>
  </div>

  <hr>
  <%# Les boutons : %>
  <%= link_to 'Bouton flat lg', "#", class: "btn_pink_lg"  %>
  <br>
  <br>
  <br>
    <%= link_to 'Bouton stroke lg', "#", class: "btn_stroke_lg"  %>
  <br>
  <br>
  <br>
    <div class=" d-flex">
      <%= link_to 'Bouton stroke', "#", class: "btn_stroke_md"  %>
      <%= link_to 'Bouton flat', "#", class: "btn_pink_md"  %>
    </div>
</div>
