 <div class="container">

    <img src="https://i.ibb.co/6wKKzwH/LOGO.png" alt="LOGO" border="0"></a>



    <div class="content px-3">

      <img src="https://i.ibb.co/qDv8jzV/cover.png" alt="cover" border="0"></a>

      <h2> Unleash the harmony <span>of group blind test ✨</span></h2>

        <button class="btn_pink_lg flex-grow" type="button">
        Create a game
      </button>
   <div>

</div>
