<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button class="btn_pink_lg" type="button">
  Create a game
</button>

<br>

<button class="btn_pink_stroke_lg" type="button">
  Edit a game
</button>

<img id="buzzer" src="https://res.cloudinary.com/dwvaux61b/image/upload/v1678276007/buzzer_or1qdu.png" alt="buzzer">

<button class="glow-on-hover" type="button">HOVER ME, THEN CLICK ME!</button>
