 <div class="container">

    <img src="https://i.ibb.co/6wKKzwH/LOGO.png" alt="LOGO" border="0"></a>

    <div class="content px-3">

      <img src="https://i.ibb.co/qDv8jzV/cover.png" alt="cover" border="0"></a>

      <h2> Unleash the harmony <span>of group blind test ✨</span></h2>

        <button class="btn_pink_lg flex-grow" type="button">
        Create a game
      </button>
   <div>

</div>


<button class="btn_pink_stroke_lg" type="button">
  Edit a game
</button>

<img id="buzzer" src="https://res.cloudinary.com/dwvaux61b/image/upload/v1678276007/buzzer_or1qdu.png" alt="buzzer">

<button class="glow-on-hover" type="button">HOVER ME, THEN CLICK ME!</button>
