 <div class="container-home p-3">

  <%= image_tag "https://i.ibb.co/6wKKzwH/LOGO.png", alt: "logo" %>
  <div class="content">
    <%= image_tag "https://i.ibb.co/qDv8jzV/cover.png", alt: "cover" %>
  </div>

  <div class="container-title pt-3">
    <h2> Unleash the harmony of group blind test ✨</h2>
    <%= link_to "Create a game", "#", class: "btn_pink_lg" %>
  </div>
</div>
