<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button class="btn_pink_lg" type="button">
  Create a game
</button>

<br>

<button class="btn_pink_stroke_lg" type="button">
  Edit a game
</button>
