
    <h2>Choose a name for this game</h2>
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :name %>
      <%= f.input :spotify_playlist_id, as: :hidden, input_html: {
        value: params[:spotify_playlist_id],
        data: { games_target: "input" }
        } %>
      <%= f.button :submit, class: "btn_pink_lg" %>
    <% end %>
