<h1 class="pt-5 pb-2">Create a new game</h1>
<div class="info_card">
  <p>Choose a playlist of your own or select one from the public playlists.</p>
  <p class="pt-1"><strong>Try “Rock”, “60s”, “Top Songs”...</strong></p>
</div>

<div class="slide-container" data-controller="games">
  <% if @step == "new_playlist" %>
    <%= render 'new_playlist', collection: @slides %>
  <% elsif @step == "namegame" %>
    <%= render 'new_namegame' %>
  <% end %>
</div>
