.btn_pink_lg {
background-color: $brand-900;
border-radius: 10px;
box-shadow: (0px 6px 18px rgba(11, 8, 42, 0.13));
padding: 20px 100px;
border: none;
height: 50px;

// text
font-size: 20px;
color: $dark-000;
font-weight: 500;
text-decoration: none;
}

.btn_pink_lg :hover {
  color: $dark-000;

}
