.btn_stroke_lg {
    background-color: rgba(212, 212, 212, 0.8);
    border-radius: 10px;
    box-shadow: (0px 6px 18px rgba(45, 45, 45, 0.13));
    padding: 20px 70px;
    border: solid 2px $brand-900;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;




    font-size: 20px;
    color: $brand-900;
    font-weight: 500;
    text-decoration: none;
  }
