.my_card {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_card_info {
  height: 50px;
  margin-left: 10px;
  background: linear-gradient(92.37deg, #C147E9 14.7%, #F7BC45 90.63%);
  border-radius: 10px;
  padding: 0px 15px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.profil_round {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
