.playlist_card {
  flex-grow: 1;
  background-color: rgba(212, 212, 212, 0.8);

  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: (0px 6px 18px rgba(11, 8, 42, 0.13));
  border: solid 1px $brand-900;

  > img {
    max-height: 17vh;
    object-fit: cover;
    // height: fit-content;
    border-radius: 10px;
    width: 100%;
  }

  h4 {
    padding: 10px;
    font-size: 16px;
    color: $dark-900;
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.active{
  border-color: $yellow;
  border: solid 2px $yellow;
  box-shadow: 0px 0px 25px $yellow;
  border-radius: 10px;
}
