.player_card {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .player_card_info {
    height: 50px;
    margin-left: 10px;
    background-color: rgba(212, 212, 212, 1);
    border-radius: 10px;
    padding: 0px 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    p {
      color: $dark-900;
    }
  }

  .profil_round {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
