.top_3_rank {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // position: relative;
  align-items: end;
}

.avatar-highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  > img {
    border-radius: 100%;
    border: solid 2px transparent;
    height: 115px;
    width: 115px;
    display: flex;
    justify-content: center;
  }
  h3 {

    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: relative;
    top: -0.7rem;
    color: $dark-900;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.first {
    > img {
      border-color: $yellow;
      box-shadow: 0px 0px 15px $yellow;
      height: 135px;
      width: 135px;
      transform: scale(1.4);
    }
    h3 {
      background-color: $yellow;
      top: 1.0rem;
    }
  }
  &.second {
    > img {
      border-color: $brand-900;
      box-shadow: 0px 0px 15px $brand-900;
    }
    h3 {
      background-color: $brand-900;
    }
  }
  &.third {
    > img {
      border-color: $blue;
      box-shadow: 0px 0px 15px $blue;
    }
    h3 {
      background-color: $blue;
    }
  }
}
