// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utilities";


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background: $bg-linear-gradient;
  min-height: 107vh;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #1A0222;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

